 
<div class="container">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <!--   <a class="navbar-brand px-4" href="/"><img src="https://statics.voz.tech/styles/next/xenforo/voz-logo_2x.png?v=3" height="40" alt=""></a> -->
      <button class="navbar-toggler"type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/admin/">Admin</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/admin/sanpham">Sản Phẩm</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/admin/loai">Loại Hàng</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/admin/order">Đơn Hàng</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/admin/order">Đăng Xuất</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <section class="text-center mt-4">
    <div class="row">
      <div class="col-lg-3 col-md-6 mb-5 mb-md-5 mb-lg-0 position-relative">
        <i class="fas fa-user-plus fa-3x text-success mb-4"></i>
        <h5 class="text-success fw-bold mb-3">50+</h5>
        <h6 class="fw-normal mb-0">Người Dùng</h6>
        <hr class="divider-vertical-blurry position-absolute my-0 h-100 d-none d-md-block" />
      </div>

      <div class="col-lg-3 col-md-6 mb-5 mb-md-5 mb-lg-0 position-relative">
        <i class="fas fa-shopping-cart fa-3x text-primary mb-4"></i>
        <h5 class="text-primary fw-bold mb-3">40+</h5>
        <h6 class="fw-normal mb-0">Đơn Đặt Hàng</h6>
        <hr class="divider-vertical-blurry position-absolute my-0 h-100 d-none d-lg-block" />
      </div>

      <div class="col-lg-3 col-md-6 mb-5 mb-md-0 position-relative">
        <i class="fas fa-dollar-sign fa-3x text-warning mb-4"></i>
        <h5 class="text-warning fw-bold mb-3">1.000.000 vnđ</h5>
        <h6 class="fw-normal mb-0">Doanh Thu</h6>
        <hr class="divider-vertical-blurry position-absolute my-0 h-100 d-none d-md-block" />
      </div>

      <div class="col-lg-3 col-md-6 mb-5 mb-md-0 position-relative">
        <i class="fas fa-list-ul fa-3x text-primary mb-4"></i>
        <h5 class="text-primary fw-bold mb-3">28</h5>
        <h6 class="fw-normal mb-0">Sản Phẩm</h6>
      </div>
    </div>
  </section>
    <google-chart [data]="pieChart" ></google-chart>





